.col-4{
    background-color: rgb(34, 124, 128);
}

.col-6{
    background-color: rgb(34, 124, 128);
}
.row{
    color: rgb(215, 220, 223);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}